# Frontend & Backend dependencies
frontend/node_modules/
backend/node_modules/

# Environment files
frontend/.env
backend/.env

# Build files
frontend/dist/
backend/dist/

# Logs
*.log
npm-debug.log*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db